<footer>
	<div class="container-fluid">
		<div class="row">
            <div class="col-sm">
            	<br>
            	<br>
            	<ul>
            		<li><h4>Clientes</h4></li>
            		<br>
    	        	<li><p><a href="#">Supermercados</a></p></li>
    	        	<li><p><a href="#">Consejos</a></p></li>
    	        	<li><p><a href="#">Tarjeta Mercadona</a></p></li>
    	        	<li><p><a href="#">Factura cliente</a></p></li>
    	        </ul>
            </div>
            <div class="col-sm">
            	<br>
            	<br>
            	<ul>
            		<li><h4>Trabajador</h4></li>
            		<br>
    	        	<li><p><a href="#">Trabaja con nosotros</a></p></li>
    	        </ul>
            </div>
           	<div class="col-sm">
           		<br>
            	<br>
            	<ul>
            		<li><h4>Proveedor</h4></li>
            		<br>
    	        	<li><p><a href="#">E-factura proveederoes</a></p></li>
    	        	<li><p><a href="#">Portal Trinidad</a></p></li>
    	        </ul>
            </div>
            <div class="col-sm">
           		<br>
            	<br>
            	<ul>
            		<li><h4>Sociedad</h4></li>
            		<br>
    	        	<li><p><a href="#">Actualidad</a></p></li>
    	        	<li><p><a href="#">Sala de prensa</a></p></li>
    	        	<li><p><a href="#">Conoce Mercadona</a></p></li>
    	        	<li><p><a href="#">Mercadona en Portugal</a></p></li>
    	        </ul>
            </div>
            <div class="col-sm">
           		<br>
            	<br>
            	<ul>
            		<li><p><a href="#"><i class="fas fa-envelope"></i> Contacto</a></p></li>
    	        	<li><h4><a href="#"><i class="fas fa-phone"></i> |900 500 103</a></h4></li>
    	        	<br>
    	        	<li><p><a href="#"><i class="fab fa-facebook-square"></i> </a>
    	        			<a href="#"><i class="fab fa-twitter"></i> </a>
    	        			<a href="#"><i class="fab fa-youtube"></i> </a>
    	        			<a href="#"><i class="fab fa-instagram"></i>
    	        			</a></p></li>
    	        </ul>
            </div>
        </div>
    </div>
</footer>